<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="contents">
		<div class="page-header">
			<h1>基本料金</h1>
		</div>
		<div class="page-content">
		<form role="form" th:action="@{/basic_charge_edit}" th:object="${basicCharge}" method="post">
			<div>
				<button type="submit" class="btn btn-outline-warning btn-sm update-action">更新</button><br>
				<span class="text-danger" th:if="${isUpdated}" th:text="${isUpdated}"></span>
			</div>
			<div class="form-group">
            	<label class="control-label" for="price">基本料金</label>
            	<input type="number" class="form-control" id="price" name="price" max="9999999" min="0" th:value="*{price}"/>
			</div>
			<div class="form-group">
            	<label class="control-label" for="discription">説明</label>
            	<textarea rows="4" cols="35" class="form-control" id="discription" name="discription" th:field="*{description}"></textarea>
<!--  				<span th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="help-block">error!</span>
-->
			</div>
			<input type="hidden" th:name="version" th:value="*{version}">
		</form>
		</div>
	</div>
</body>
</html>