<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="design_contents">
		<div class="page-header">
			<h1>デザイン加工費</h1>
		</div>
		<div class="page-content">
			<a class="btn btn-outline-primary btn-sm" th:href="@{/design/add}">新規追加</a>
			<div th:if="${designs.isEmpty()}">
			    <p>登録されたデザイン加工費はありません。</p>
			</div>
			<div th:unless="${designs.isEmpty()}">
				<span class="text-danger" th:if="${isUpdated}" th:text="${isUpdated}"></span>
				<table border=1>
					<thead><tr><th>コード</th><th>名称</th><th>単価</th><th></th></tr></thead>
					<tbody>
						<tr th:each="design : ${designs}"  th:object="${design}">
						    <td th:text="*{cd}"></td>
						    <td th:text="*{name}"></td>
						    <td th:text="${design.commaOf1000() + '円'}"></td>
							<td>
								<a class="btn btn-outline-warning btn-sm" th:href="@{'/design/edit/' + *{cd}}">変更</a>
								<form method="post" th:action="@{/design/delete}" class="block_right">
									<button class="btn btn-outline-danger btn-sm delete-action" type="submit">削除</button>
									<input type="hidden" th:name="cd" th:value="*{cd}">
									<input type="hidden" th:name="updatedAt" th:value="${design.updatedAtToString()}">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</body>
</html>