<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="material_contents">
		<div class="page-header">
			<h1>材料費</h1>
		</div>
		<div class="page-content">
		<a th:href="@{/material_edit}" class="btn btn-outline-primary btn-sm">新規追加</a>
		<table border=1>
			<thead><tr><th>材料コード</th><th>名称</th><th>単価</th><th></th></tr></thead>
			<tbody>
				<tr>
					<td>pt950</td><td>プラチナ</td><td>20000</td>
					<td>
						<a th:href="@{/material_edit}" class="btn btn-outline-warning btn-sm">変更</a>
						<button class="btn btn-outline-danger btn-sm delete-action">削除</button>
					</td>
				</tr>
				<tr>
					<td>gd950</td><td>ゴールド</td><td>18000</td>
					<td>
						<a th:href="@{/material_edit}" class="btn btn-outline-warning btn-sm">変更</a>
						<button class="btn btn-outline-danger btn-sm delete-action">削除</button>
					</td>
				</tr>
				<tr>
					<td>sv950</td><td>シルバー</td><td>15000</td>
					<td>
						<a th:href="@{/material_edit}" class="btn btn-outline-warning btn-sm">変更</a>
						<button class="btn btn-outline-danger btn-sm delete-action">削除</button>
					</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
</body>
</html>