<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="material_contents">
		<div class="page-header">
			<h1>材料費</h1>
		</div>
		<div class="page-content">

		<form role="form" th:action="@{/material_edit}" th:object="${materialForm}" method="post">
			<div class="form-group">
            	<label class="control-label" for="cd">材料コード</label>
				<input type="text" class="form-control" id="cd" name="cd" th:value="*{cd}"/>
  				<span class="text-danger" th:if="${#fields.hasErrors('cd')}" th:errors="*{cd}"></span>
			</div>
			<div class="form-group">
            	<label class="control-label" for="cd">材料名</label>
				<input type="text" class="form-control" id="name" name="name" th:value="*{name}"/>
				<span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
			</div>
			<div class="form-group">
            	<label class="control-label" for="unit_price">単価</label>
				<input type="number" class="form-control" id="unitPrice" name="unitPrice" th:value="*{unitPrice}"/>
				<span class="text-danger" th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"></span>
			</div>
 			<div>
				<div th:if="${action == 'insert'}">
				    <button type="submit" class="btn btn-outline-primary btn-sm insert-action">登録</button>
				</div>
				<div th:if="${action == 'update'}">
					<button type="submit" class="btn btn-outline-warning btn-sm update-action">更新</button>
				</div>
			</div>
		</form>
		</div>
	</div>
</body>
</html>