<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8">
</head>

<body>
	<div th:fragment="material_contents">
		<div class="page-header">
			<h1>材料費</h1>
		</div>
		<div class="page-content">
			<a class="btn btn-outline-primary btn-sm" th:href="@{/material/add}">新規追加</a><br>
			<span class="text-danger" th:if="${isUpdated}" th:text="${isUpdated}"></span>
			<div th:if="${materials.isEmpty()}">
			    <p>登録された材料費はありません。</p>
			</div>
			<div>
			<div th:unless="${materials.isEmpty()}">
				<table border=1>
					<thead><tr><th>材料コード</th><th>名称</th><th>単価</th><th></th></tr></thead>
					<tbody>
						<tr th:each="material : ${materials}"  th:object="${material}">
						    <td th:text="*{cd}"></td>
						    <td th:text="*{name}"></td>
						    <td th:text="${material.commaOf1000() + '円'}"></td>
							<td>
								<a class="btn btn-outline-warning btn-sm" th:href="@{'/material/edit/' + *{cd}}">変更</a>
								<form method="post" th:action="@{/material/delete}" class="block_right">
									<button class="btn btn-outline-danger btn-sm delete-action" type="submit">削除</button>
									<input type="hidden" th:name="cd" th:value="*{cd}">
									<input type="hidden" th:name="version" th:value="*{version}">
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>
	</div>
</body>
</html>